* {box-sizing: border-box;}

html,body{
    height: 100%;
}

body{
    font-family: sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Player*/
.player{
min-width: 320px;
background-image: linear-gradient(rgb(19, 221, 70),rgb(71, 195, 226));
border-radius: 1rem;
padding: 2rem;
color: white;
box-shadow: 2px 2px 3px rgb(34, 241, 34);

}
/*Titulo*/
.tittle{
    margin-top: 0;
    text-align: center;
}

/*Imagen*/
.cover{
    width: 200px;
    height: auto;
    border-radius: 1rem;
    display: block;
    margin: 0 auto 1rem auto;
}

/*Progress*/
.progress-container{
    height: .6rem;
    background-color: lightgray;
    margin-bottom: 1rem;
}
.progress{
    background-color: rgb(55, 55, 168);
    width: 40%;
    height: 100%;
}


/*Controles*/
.controls{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
.controls i{
    font-size: 10rem;
    color: white;
}

/*Canciones*/
.songs{
    margin: 0;
    padding: 0;
    list-style: none;
}
.songs li{
    margin-bottom: 1rem;
}

.songs a{
    color: lightgray;
    text-decoration: none;
}
.songs a.active{
    color: white;
    font-weight: bold;
}